OPENAI_API_KEY=sk-xxxx
PORT=10000

# Google Sheets
GOOGLE_SHEET_ID=1wtEQVq9YQcKMn4RLdXii96x-MMs_hIZthUVkCwspVjo
GOOGLE_SHEET_TAB=conversations
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
